@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/century-gothic/GOTHIC.TTF");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: "Josephine Sans", sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.introduzione{
    height: 100vh;
    width: 100%;
    background-image: url("./src/fotoSfondo.jpeg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
}

.main-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5vh;
}

.logo{
    font-size: 3em;
    font-style: italic;
    cursor: pointer;
}

nav span{
    color: aqua;
}

nav ul{
    min-width: 50%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%; 
    padding-top: 1vh;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: aqua;
    transition: 0.6s;
}

.nome{
    padding-top: 30vh;
    padding-left: 10%;
}

.nome h4{
    font-size: 2em;
}

.nome h1{
    font-size: 4em;
    color: aqua;
}



